target
*.iml
out/
.idea
.classpath
.project
.settings
bin/
.myeclipse
.log

/mimu-frontend/.DS_Store
/mimu-frontend/node_modules
/mimu-frontend/dist


# local env files
/mimu-frontend/.env.local
/mimu-frontend/.env.*.local

# Log files
/mimu-frontend/npm-debug.log*
/mimu-frontend/yarn-debug.log*
/mimu-frontend/yarn-error.log*
/mimu-frontend/pnpm-debug.log*

# Editor directories and files
/mimu-frontend/.idea
/mimu-frontend/.vscode
/mimu-frontend/*.suo
/mimu-frontend/*.ntvs*
/mimu-frontend/*.njsproj
/mimu-frontend/*.sln
/mimu-frontend/*.sw?
